.aboutTitle {
  width: 85%;
  margin: 0 auto;
 /* @include inverseTranslateTitle;*/
}

.aboutSection {
  width: 85%;
  font-size: 1.2em;
  background-color: $font2-color;
  color: $bg-color;
  padding: 15px 0.5em 0.5em 0.5em;
  margin: -10px auto 60px auto;
  border-radius: 10px;
  font-family: $font-main;
  font-size: 1.5em;
  font-weight: 600;

  @include tab {
    width: 95%;
  }

  @include phone {
    width: 90%;
    font-size: 0.8em;
    padding: 15px 0.2em 0.5em 0.2em;
  }
}
