.modalContainer {
  padding: 1em;
  margin: -10px;
  border-radius: 20px;
  background: #dcdcdc;

  .closeModal {
    padding: 5px 10px;
    border-radius: 1em;
    cursor: pointer;
    background: lighten($font-color, 3%);  
    border: 1px solid darken($font-color, 4%);
    box-shadow: 0px 2px 0 darken($font-color, 5%), 2px 4px 6px darken($font-color, 2%);
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
    &:hover {
      background: darken($font-color, 1.5%);
      border: 1px solid rgba(#000, .05);
      box-shadow: 1px 1px 2px rgba(#fff, .2);
      color: lighten($font-color, 18%); 
      text-decoration: none;
      text-shadow: -1px -1px 0 darken($font-color, 9.5%);
      transition: all 250ms linear;
    }
  }
}
.react-responsive-modal-modal { width: 90% }