section.aboutTitle {
    .bloc {
        @include inverseTranslateTitle;
    }
}

section.aboutSection {
    width: 100%;
    font-size: 1.2em;
    background-color: $font2-color;
    color: $bg-color;
    padding: 15px 0.5em 0.5em 0.5em;
    margin: -10px auto 60px auto;
}