.modalContainer {
    padding: 1em;
    margin: -10px;
    border-radius: 20px;
    background: #DCDCDC;
    
    .closeModal {
        padding: 5px 10px;
        background-color: $font2-color;
        color: $bg-color;
        font-weight: bolder;
        border-radius: 1em;
    }
  }
 