ul {
  display: flex;
  gap: 57px;
  list-style: none;

  @include phone {
    gap: 20px;
  }

  li a {
    color: $font-color;
    font-size: 1.5em;
    font-family: $font-main;
    font-weight: 500;
    line-height: 34px;
    text-align: right;
    text-decoration: none;
    
    @include phone {
      font-size: 1.2em;
    }
  }
}

