@mixin rotation0To180Deg {
  transition: all 300ms ease-in-out;
  transform: rotate(180deg);
}

@mixin rotation180To0Deg {
  transition: all 300ms ease-in-out;
  transform: rotate(0deg);
}
@mixin translateTitle {
  animation: translateTitle 1s linear forwards;
}
@keyframes translateTitle {
0% {
  transform: translateX(-100%);
}
100% {
transform: translateX(0%);
}
}
@mixin inverseTranslateTitle {
  animation:  inverseTranslateTitle 1s linear forwards
}
@keyframes inverseTranslateTitle {
  0% {
    transform: translateX(100%);
  }
  100% {
  transform: translateX(0%);
  }
  }
@mixin descending {
  animation: descending 0.3s linear forwards;
}

@keyframes descending {
  0% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0);
  }
}

@mixin underlineLink {
  transform: translateX(-50%);
  animation: underlineLink 0.3s ease forwards;
}

@keyframes underlineLink {
  to {
    width: 100%;
  }
}


@mixin fadein {
  animation: fadein 1000ms
}
/*Animations*/
@keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*shake*/
@mixin shake {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}