/*$primary-color : #205d9e;*/
$card-color: #F6F6F6;
$neutral-color: #FFFFFF;
/*$title-color:#091A7A;*/
$title-color: #3e3128;
/*$info-color:#42B3FF;*/
$bg-color: #12110F;
$bg2-color: #1c1816;
$bg3-color: #28211d;
$primary-color: #3e3128;
/*$bg-color:#111927;
$bg2-color:#0d1520;*/
/*$components-color: #004074;*/
$components-color:#322922;
$font-color:#dbb954;
$font2-color: #f2e1ca;
/*$font-color: #c2e6ff;*/
/*$font2-color:#70b8ff;*/
$border-color: #7c5f46;
/*$border-color: #3b9eff;*/
/*$gradient:linear-gradient (blue, red);*/