/*$primary-color : #205d9e;*/
$card-color: #F6F6F6;
$neutral-color: #FFFFFF;
/*$title-color:#091A7A;*/
$title-color: #3e3128;
$bg-color: #12110F;
$bg2-color: #1c1816;
$bg3-color: #28211d;
$primary-color: #3e3128;
$components-color: #322922;
$font-color: #dbb954;
$font2-color: #f2e1ca;
$border-color: #7c5f46;
$gradient: linear-gradient(to right, #28211d, #614a39);
$inverse-gradient: linear-gradient(to right, #ad7f58, #12110f);
$neutral-color: #eeeeec;