$title-color: #3e3128;
$bg-color: #12110F;
$bg2-color: #1c1816;
$font-color: #dbb954;
$font2-color: #f2e1ca;
$border-color: #7c5f46;
$gradient: linear-gradient(to right, #28211d, #614a39);
$neutral-color: #eeeeec;
$font-main: "Montserrat";
$font-secondary: "Grandstander";