.header {
  height: 68px;
  display: flex;
  background-color: $primary-color;
  justify-content: space-between;
  align-content: center;
  padding: 0 1em 28px 1em;
  border-radius: 0.7em;
  margin-bottom: 10px;
  
  @include phone {
    height: 57px;
    margin-bottom: 1em;
    margin: 0.2em 0.5em 1em;
    box-sizing: border-box;
  }

  img {
    height: 68px;
    width: 210px;
    object-fit: contain;
    padding: 5px;
    align-items: center;

    @include phone {
      height: 57px;
      width: 145px;
      display: none;
    }
  }

  .navigation {
    padding: 20px 0px;

    @include phone {
      padding: 10px 0px;
    }
  }
}
