footer {
  width: 100%;
  height: 209px;
  color: $font2-color;
  margin: 0px;
  margin-top: 30px;
  padding: 0 0 2em 0;
  @include flex-justify-items-center;
  flex-direction: column;
  row-gap: 25px;

  @include phone {
    gap: 0px;
  }
  img {
    height: 70px;
    width: 50px;
    text-decoration: none;
    border: none;
  }
  .contact {
    color: $font2-color;

    @include phone {
      margin-bottom: 1em;
    }
  }

  h2.h2contact {
    width: 86.8%;
  }

  ul {
    li {
      a {
        padding: 0;
        background: transparent;
        border: none;
      }

      img {
        height: 50px;
        width: 50px;
      }
    }
  }

  span {
    font-size: 24px;
    font-family: $font-main;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1em;

    @include phone {
      width: 122px;
      font-size: 12px;
      line-height: 2em;
      margin-top: 1em;
    }

    a {
      text-decoration: none;
      color: $font-color;
      font-weight: bolder;
      font-size: x-large;
      padding: 5px 20px;
      background-color: #000;
      border-radius: 1em;
      border-bottom: 5px solid $h2;
      margin-bottom: 1em;

      &:focus {
        border-bottom: 1px solid $h2;
      }
    }
  }
  .backlinks {
background-color: $font2-color;
padding: 0px 1em;
border-radius: 1em;
    margin-bottom: 20px;
    li a {
    font-family: $font-secondary;
    font-size: 1em;
    color: $bg-color;

    &:hover {
      scale: (3);
      color: lighten($color: $h2, $amount: 0.9);
    }
    }
  }
}
